.fullSlide{width:1142px;position:relative;height:212px; text-align:center; margin:0 auto; background-color:#000;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:1142px !important;}
.fullSlide .bd li{width:1142px !important;height:212px;overflow:hidden;text-align:center;background-size:contain}
.fullSlide .bd li a{display:block;height:212px;}
.fullSlide .hd{width:1142px;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px;margin:1px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on{background:#f00;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:3%;z-index:1;width:40px;height:60px;background:url(../Images/slider-arrow.png) -126px -137px rgba(255, 255, 255, 0.00) no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:3%;background-position:-6px -137px;}